.game {
  display: flex;
  flex-direction: column;
}

.board {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.message{
  height: 10vh;
  padding: .2rem;
}

.message h1, p{
  padding: 0px;
  margin: 0;
  color: #fff;
}