/* Mobile First */
.main {
  min-height: 70vh;
  text-align: center;
  padding: 2em 0 2em 0;
}

.main {
  background-color: #244199;
}
.main h1 {
  margin-bottom: 0.8em;
}

/* iPads & tablets */
@media (min-width: 479.999px){
  .main{
    padding: 2rem;
  }
}